img {
    max-width: 100%;
    height: auto;
}

.bg {
    width: auto;
    height: 700px;
    background-image: url('./images/test1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.bg h1 {
    font-size: 56px;
    line-height: 0;
    color: white;
}

.events {
    background-color: blue;
    display: block;
    overflow: hidden;
}

.swiper-container {
    overflow:hidden;
    max-height: 500px;
}

.event-card {
    display: flex;
    flex-direction: column;
    background-color: azure;
    border: 10px solid white;
    border-radius: 5%;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

.event-card img {
    border-radius: 5%;
}

.event-card .date {
    font-size: 0.9rem;
    font-weight: 600;
}

.event-card p {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}